
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>刷卡紀錄</title>


    @*//請按照順訊*@
    <link href="~/Content/MXIC/font-awesome.min.css" rel="stylesheet" />

    <link href="~/Content/MXIC/MXIC.css" rel="stylesheet" />
    @*自己寫的js放這裡*@
    <script src="~/Scripts/MXICJS/jquery-3.5.1.js"></script>

    <script src="~/Scripts/MXICJS/MXIC.js"></script>
    @*自己寫的js放這裡*@

    <script src="~/Scripts/MXICJS/jquery.jqgrid.min.js"></script>
</head>

<body>
    <div class="head cover">
        <div class="banner"></div>
        <div class="navber">
            <ul></ul>
        </div>
    </div>
    <div class="body">
        <h1 class="title cover"></h1>
        <div class="seachBox cover">
            <div class="inputBox">
            </div>
            <div class="editBox cover">
                <a href="#" class="seachBTN btn-1" onclick="seachBtn()">查詢</a>
                @*<a href="#" class="seachBTN btn-1" onclick="insert()">新增</a>*@
            </div>
        </div>
        <div class="loading">
            <svg viewBox="0 0 120 120" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <circle class="load one" cx="60" cy="60" r="40" />
                <circle class="load two" cx="60" cy="60" r="40" />
                <circle class="load three" cx="60" cy="60" r="40" />
                <g>
                    <circle class="point one" cx="45" cy="70" r="5" />
                    <circle class="point two" cx="60" cy="70" r="5" />
                    <circle class="point three" cx="75" cy="70" r="5" />
                </g>
            </svg>
        </div>
        <div class="tableContant hidden cover">
            <table id="grid" cellpadding="0" cellspacing="0" border="0"></table>
        </div>
        <div class="insertBox popUp hidden">
            <div class="box">
                <div class="popUpHead">
                    新增
                </div>
                <div id="insert" class="popUpContant insertPopUpContant">
                </div>
                <div class="popUpFooter">
                    <a href="#" class="seachBTN btn-1 close-button" onclick="cancel()">取消</a>
                    <a href="#" class="seachBTN btn-1" onclick="check()">確定</a>
                </div>
            </div>
        </div>
        <div class="delectBox popUp hidden">
            <div class="box">
                <div class="popUpHead">
                    刪除
                </div>
                <div class="popUpContant">
                    確認刪除此筆資料
                </div>
                <div class="popUpFooter">
                    <a href="#" class="seachBTN btn-1 close-button" onclick="cancel()">取消</a>
                    <a href="#" class="seachBTN btn-1" onclick="delectCheck()">確定</a>
                </div>
            </div>
        </div>

        <div class="popEditBox popUp hidden">
            <div class="box">
                <div class="popUpHead">
                    修改
                </div>
                <div id="edit" class="popUpContant editPopUpContant">

                </div>
                <div class="popUpFooter">
                    <a href="#" class="seachBTN btn-1 close-button" onclick="cancel()">取消</a>
                    <a href="#" class="seachBTN btn-1" onclick="Editcheck()">確定</a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer cover">
        <p>© 2020 -YU-CHEN System Technology</p>
    </div>
</body>

</html>